{% extends 'base.html' %}
{% load static %}

{% block title %}
    Browse Recipes
{% endblock %}

{% block body %}
    <h1>Browse All Recipes</h1>
    {% for recipe in recipes reversed %}
        <div class="card d-inline-block p-1 m-3">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Prep time: {{ recipe.prep_time }} minutes</h6>
                <h6 class="card-subtitle mb-2 text-muted">Cook time: {{ recipe.cook_time }} minutes</h6>
                <a href="{% url 'view_recipe' recipe.id %}" class="card-link btn btn-danger">View Recipe</a>
            </div>
        </div>
    {% endfor %}



{% endblock %}

